.button {
  margin-bottom: 50px;
  text-align: center;
  width: 240px;
  height: 40px;
  border-radius: 5px;
  background-color: #363b5d;
  color: #FFF;
  font-family: 'Geometria';
  font-weight: 700;
}